<!DOCTYPE html>
<html lang="{$lang}" class="{$lang}" dir="ltr">
<head>
	<meta charset="utf-8" />
	<title>{ifset $h1}{$h1} - {/ifset}
		{if $lang=='cs'}Kofein restaurant na pražských Vinohradech{/if}
		{if $lang=='en'}Kofein restaurant in Vinohrady - Prague{/if}
	</title>
	<meta name="author" content="Kofein Café s.r.o.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css?v201511012157">
	<link rel="shortcut icon" href="/favicon.ico">
	{ifset $altLangs}
	<link n:foreach="$altLangs as $altLang => $altUrl" rel="alternate" hreflang="{$altLang}" href="{$altUrl}">
	{/ifset}
	<script type="text/javascript" src="/js/main.min.js" async></script>
	<!--[if lt IE 9]>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WLWCSG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WLWCSG');</script>

	<header>
		<div>
			<a href="/" class="logo">
				<img src="/img/layout/header-logo-print.png" alt="Kofein restaurant">
			</a>
			<nav n:ifset="$altLangs" class="language-switcher">
				{if $lang=='cs'}<a href="{$altLangs['en']}"><img src="/img/layout/header-flag.en.png" alt="English" title="English"></a>{/if}
				{if $lang=='en'}<a href="{$altLangs['cs']}"><img src="/img/layout/header-flag.cs.png" alt="Česky" title="Česky"></a>{/if}
			</nav>
		</div>
	</header>

	<nav class="menu">
		<ul>
		{if $lang=='cs'}
			<li><a class="home" href="/cz/"><span>Úvod</span></a></li>
			<li><a class="lunch" href="/cz/poledne"><span>Poledne</span></a></li>
			<li><a class="dinner" href="/cz/vecer"><span>Večer</span></a></li>
			<li><a class="beverages" href="/cz/napoje"><span>Nápoje</span></a></li>
			<li><a class="gallery" href="/cz/galerie"><span>Galerie</span></a></li>
			<li><a class="contact" href="/cz/kontakt"><span>Kontakt</span></a></li>
		{/if}
		{if $lang=='en'}
			<li><a class="home" href="/en/"><span>Home</span></a></li>
			<li><a class="lunch" href="/en/lunch"><span>Lunch</span></a></li>
			<li><a class="dinner" href="/en/dinner"><span>Dinner</span></a></li>
			<li><a class="beverages" href="/en/beverages"><span>Beverages</span></a></li>
			<li><a class="gallery" href="/en/gallery"><span>Gallery</span></a></li>
			<li><a class="contact" href="/en/contact"><span>Contact</span></a></li>
		{/if}
		</ul>
	</nav>

	<section>
		<h1>{ifset $h1}{$h1}{else}Kofein restaurant{/ifset}</h1>
		<article>
			{include content}
		</article>
	</section>

	<footer>
		<div>
			Kofein restaurant, Praha 3 – tel.: <a href="tel:+420273132145">+420 273 132 145</a>
		</div>
	</footer>
</body>

</html>
