includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		-
			identifier: classConstant.unused
			path: app/Model/UserManager.php
