{block content}
<h2>Nastavte si nové heslo</h2>
<style>
	body { background-color: #eee;}
	form {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
		text-align: left;
	}
</style>
{control setPasswordForm}