{block h1}Večer{/block}
{block content}
		<p class="paragraph">
			Večer u nás ožívají tapas a s nimi celá restaurace. Nadiktujte si své množství a tempo, ve kterém vám je budeme nosit na stůl. Nebo si vyberte jednu z Velkých specialit. A nezapomeňte se zeptat, jaká je právě speciální nabídka.
		</p>


		<aside class="illustration"><img src="{$basePath}/img/illustration/foods-04.jpg" alt="" width="600"></aside>

		{control post 'dinner', 'cs'}
