{block h1}Polední menu{/block}
{block content}
		<p class="paragraph">
			Polední menu servírujeme od pondělí do pátku od 11.00 do 15.30. Vždy na menu naleznete polévku,
			výběr z několika teplých pokrmů a baget. Menu zahrnuje i sklenici domácího ledového čaje.
			Vedle polední nabídky servírujeme i denní specialitu a dezerty.
		</p>

		<aside class="illustration bigscreen"><img src="{$basePath}/img/illustration/foods-03.jpg" alt="" width="600"></aside>

		{control post 'lunch', 'cs'}
