{block content}
<p class="paragraph">
			In the evening the whole restaurant is enlivened by the emergence of tapas. You can decide on your capabilities and the speed with which you would like them placed on your table. Or you can choose one of the large special meals. And don’t forget to ask about the specials of the day.
		</p>


		<aside class="illustration"><img src="/img/illustration/foods-04.jpg" alt="" width="600"></aside>

		{control post 'dinner', 'en'}