{block h1}Lunch{/block}
{block content}
		<p class="paragraph">
			The lunch menu always includes soup and choice of several hot meals. The menu also includes a glass of
			home-made ice tea or a small beer.
		</p>

		<aside class="illustration bigscreen"><img src="{$basePath}/img/illustration/foods-03.jpg" alt="" width="600"></aside>

		{control post 'lunch', 'en'}
