{block h1}Вечеря{/block}
{block content}
<p class="paragraph">
		Увечері весь ресторан пожвавлюється появою тапас. Ви можете визначитися зі своїми можливостями та швидкістю, з якою ви хотіли б, щоб вони були розміщені на вашому столі. Або ви можете вибрати один із великих спеціальних страв. І не забудьте запитати про спеціальні пропозиції дня.
		</p>


		<aside class="illustration"><img src="{$basePath}/img/illustration/foods-04.jpg" alt="" width="600"></aside>

		{control post 'dinner', 'en'}
