{block h1}Обід{/block}
{block content}
		<p class="paragraph">
			Обідне меню завжди включає суп і вибір з кількох гарячих страв. У меню також є келих
			домашній холодний чай або невелике пиво.
		</p>

		<aside class="illustration bigscreen"><img src="{$basePath}/img/illustration/foods-03.jpg" alt="" width="600"></aside>

		{control post 'lunch', 'en'}
