parameters:
	crypto:
		stateKey: {put-here-state-key}

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

aws:
	credentials:
		key: AKIAIZQTKJSYPVJS4E3A
		secret: {put-here-secret}

database:
	dsn: 'mysql:host=127.0.0.1;dbname=kofein;charset=utf8'
	user: kofein
	password: {put-here-password}
	options:
		lazy: TRUE

extensions:
    aws: JakubBoucek\Aws\DI\AwsExtension

http:
    csp:
        script-src:
            - 'strict-dynamic'
            - 'nonce'
            - 'unsafe-inline'   # csp-2 fallback
            - 'http:'           # csp-2 fallback
            - 'https:'          # csp-2 fallback
        frame-ancestors: none
        frame-src:
            - self
            - https://www.googletagmanager.com/
            - https://www.google.com/   # google maps
        form-action: self
        object-src: none
        style-src:
            - self
            - 'unsafe-inline' # because wysiwyg editor
        base-uri: none

services:
	- App\Model\Post
	- App\Model\WebDir(%wwwDir%)
	mail.mailer: JakubBoucek\Aws\SesMailer
	crypto: App\Crypto(%crypto.stateKey%)
	postRenderer: App\Component\PostRenderer
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\UserManager
