parameters:
	crypto:
		stateKey: {put-here-state-key}

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

aws:
	credentials:
		key: AKIAIZQTKJSYPVJS4E3A
		secret: {put-here-secret}

database:
	dsn: 'mysql:host=127.0.0.1;dbname=kofein'
	user: kofein
	password: {put-here-password}
	options:
		lazy: TRUE

extensions:
    aws: JakubBoucek\Aws\DI\AwsExtension

services:
	- App\Model\Post
	- App\Model\WebDir(%wwwDir%)
	mail.mailer: JakubBoucek\Aws\SesMailer
	crypto: App\Crypto(%crypto.stateKey%)
	postRenderer: App\Component\PostRenderer
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserManager
