			{if ! $isEmpty}
			<div class="dynamic-rendered-alert alert-message warning">
            	<div class="box-icon"></div>
            	<div class="box-message">
					{$content|noescape}
            	</div>
          	</div>
			</div>
			{/if}
